<section class="about-section">
  <div class="container">
    <h2>About Me</h2>
    <p>
      Hello everyone, my name is mahmoud gamal and I am a Front End Developer
      from Egypt, Cairo. I am self-taught developer, passionate and very fast
      learner. I have learned how to program through various resources,
      currently I am learning on Udemy and YouTube . I am eager to learn and
      grow - Everyday. My ambition is to make awesome websites, not just good
      enough.
    </p>
    
  </div>
</section>
