.projects {
  background-color: #f9e74e; /* Yellow background */
  text-decoration: none;
  width: 100vw; /* Changed to full viewport width */
  min-height: 100vh;
}
.icon
{
  color: #000000;
}
.title {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  color: #171717;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  text-align: center;
}

h3{
color: #171717;
}
