<section class="main">
  <div class="intro">
    <h1>I'm Mahmoud</h1>
    <h2>Web Developer</h2>
    <p>Mahmoud is a Software engineer with years of experience building responsive websites.</p>
    <div class="social-media">
      <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class="profile-pic">
    <img src="https://lh3.googleusercontent.com/a/ACg8ocIeFqnilr_dZGqCZNSpB3lLnJomGuTLDTGDPoNQlJF7f9I5ir0=s360-c-no" alt="Mahmoud's Profile Picture">
  </div>
</section>
